@page "/events"
@using Microsoft.AspNetCore.Authorization
@using EventManager.Data
@rendermode InteractiveServer
@inject IEventService EventService
@inject NavigationManager Navigation

<h3>Lista Eventów</h3>

@if (events == null)
{
    <p>Ładowanie...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Short Desc</th>
                <th>Opis</th>
                <th>Limit miejsc</th>
                <th>Aktualne miejsca</th>
                <th>Data</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ev in events)
            {
                <tr>
                    <td>@ev.EVENT_ID</td>
                    <td>@ev.SHORT_DESC</td>
                    <td>@ev.DESCRIPTION</td>
                    <td>@ev.SPACE_LIMIT</td>
                    <td>@ev.CURR_SPACE</td>
                    <td>@ev.EVENT_DATE.ToString("yyyy-MM-dd")</td>
                    <td>
                        <button class="btn btn-primary" @onclick="@(() => Navigation.NavigateTo($"/events/{ev.EVENT_ID}"))">Szczegóły</button>
                    </td>
                    <td>
                        <button class="btn btn-secondary">Dołącz</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Event>? events;

    protected override async Task OnInitializedAsync()
    {
        events = await EventService.GetEventsAsync();
    }

}